* {
        margin:0;
        padding:0;

}

body {
    font-size: 16px;
}

#Portfolio {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    min-height: -webkit-fill-available;
    
}


#Portfolio p, #Portfolio a {
    font-size: clamp(0.4rem, 0.65vw, 1.125rem);

}

#Portfolio p, #Portfolio a, #Portfolio h3, #Portfolio h4  {
    font-family: 'Eau Sans';

}


@font-face {
    font-family: 'Eau Sans';
    src: url('../fonts/eau_sans_book_osf.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }


html {
    font-size: 100%;
    scroll-behavior:unset;
}


p,button {
    font-family: 'Eau Sans';
    font-size: 18px;
    color: #2B3A5E;
}

a{
    text-decoration:none;
    height: fit-content;
}

.highlighted-text {
    color: #D87C55;
   
}

.pages {
    display:flex;
    width: 100%;
    height: fit-content;
    background: #EDF2F3;
}

.page-title {
    color: #FFF;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

/*** Header ****/
header {
    position: fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    pointer-events:none;
    width: 100%;
    height: 15vh;
    z-index: 3;
    transform: translateY(-10vh);
    transition: transform 1s ease-in-out;
}

header #name, header #sections {
    pointer-events: auto;
}

header #name {
    font-size: clamp(0.857rem, 1.125vw, 1.375rem);
    font-weight: bold;
    margin-left: 5%;
    color: #2B3A5E;
}

header #sections {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-right: 8%;
    gap:23%;
    
}

header #sections p {
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
    font-size: clamp(0.857rem, 1.125vw, 1.125rem);
  }
  
  header #sections a:nth-child(-n+2) p::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 0%;
   height: 2px;
   background-color: #2B3A5E;
   transition: width 0.3s ease;

  }
  
  header #sections a:nth-child(-n+2) p:hover::after {
    width: 100%;
  }
  


header p{
    margin: 0 0 0 3%;
    color: #2B3A5E;
}




/*** ******/


/******************* About Page ******************/
#AboutMe-Page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30vh;
    height: fit-content;
    
}

/******* Profil part ******/

#profil-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10%;
    width: 80%;
    height: 100vh;
    transform: scale(0);
    transform-origin: center;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;

}

#profil-part.show{
    transform: scale(1);
    opacity: 1;
}

#profil-part #pp {
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    object-fit: cover;
}

#profil-part #job {
    font-size: clamp(1rem, 2vw, 3.5rem);
    font-weight: bold;
    color:#003366;
}

#profil-part #presentation-text {
    width: fit-content;
    height: fit-content;
    text-align: justify;
    font-size: clamp(0.8rem, 1vw, 2rem) ;
    line-height: 51.2px;
    color: #2B3A5E;
}

#infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.7526rem;
}


#social-media{
    display: flex;
    width: fit-content;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 5.3rem;
    margin: 2.3994rem 0 0 0;
}

#social-media svg {
    cursor:pointer;
    width: clamp(2vw, 3.5vw, 2.5vw);
}

/**** *****/

/****** About me part *******/

#about-me-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    width: 85%;
    min-height: 50vh;
}

#about-me-part .container-title {
    transition: opacity 1s ease-in-out;
}
#about-me-part #about-me-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15vh;
    width: 100%;
    height: fit-content;
    transition: opacity 1s ease-in-out;
}

#about-me-part .about-me-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    width: 45%;
}

#about-me-part .about-me-text-container h4 {
    color: #2B3A5E;
    font-size: clamp(0.4rem, 0.8vw, 1.125rem);

}

#about-me-part .about-me-text-container p {
    text-align: justify;
}




/***********/



/****** Skills Part *******/


#skills-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    width: 85%;
    min-height: 20vh;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

#skills-part .skills-line{
    display: flex;
    justify-content: center;
    gap:2vw;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
}

#skills-part #skills-line-container {
    display: flex;
    flex-direction: column;
    gap: 2.1875rem;
    height: fit-content;
    width: 100%;

}

#skills-part #skills-part-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
    width: 100%;
    height: fit-content;
    padding-bottom: 2.5vh;
}


#skills-part .skill{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: auto;
   
    
}

#skills-part .skill-circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12vw;
}


#skills-part #skills-line-container .skills-line .skill #percentage{
    position: absolute;
    z-index: 1;    
}

#skills-part #skills-line-container .skills-line .skill svg{
    position:absolute;
    overflow: visible;
    
   
}


#over_circle{
    fill:none;
    stroke: #2B3A5E;
    stroke-width:10.5px ;
    stroke-linecap: round;
    stroke-dasharray: 250px;
    
   

    
}

#under_circle{
    fill:none;
    stroke: #869bc7;
    stroke-width:10.5px ;
    stroke-linecap: round;
    stroke-dasharray: 450px;
    stroke-dashoffset: 450px;
    filter:drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2));
    animation: uc-anim 1.5s linear forwards;
    
}

#under_circle::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    box-shadow: inset -0.375rem -0.375rem 0.625rem -0.0625rem rgba(0, 0, 0, 0.15); /* Ombre intérieure */
    
} 



@keyframes uc-anim {
    100%{
        stroke-dashoffset: 0px;
    }
}

.circularbar-title{
    width: fit-content;
    height: fit-content;
    font-weight: 600;
}

#skills-part > svg path{
 

}

/********/

/**** Educational and Experience Part ****/

#education-and-experience-part {
    display: flex;
    flex-direction: column;
    gap: 8vh;
    width: 70%;
    min-height: 100vh;
    margin-top: 0vh;
}

.container-title {
    font-family: 'Eau Sans';
    font-size: clamp(0.2rem, 1vw, 1.8rem);
    color:#2B3A5E;
    
}
.long-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:5vh;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    background-color:#4D5363;
    border-radius: 1vh;
    padding:2%;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    
}

.long-cards .long-cards-header {
    display: flex;
    gap: 2%;
    width: 60%;
    height: 20%;
}

.long-cards .long-cards-header .long-cards-title-and-period-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12%;
}

.long-cards .long-cards-header .pictures {
    width: 3vw;
    height: 3vw;
    object-fit: cover;
    border-radius: 1vh;
    
}

.long-cards .long-cards-header .long-cards-title {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.long-cards .long-cards-header .long-cards-period {
    font-size: 20px;

}

.long-cards .long-cards-text {
    font-size: 20px;

}

.long-cards .long-cards-text, .long-cards-period {
    color:#cacaca;

}

.long-cards .long-cards-text ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-left: 1%;

}

#education-container, #experience-container {
    display:flex;
    flex-direction: column;
    gap: 5vh;
}

 .long-cards > *{
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

/******************* Work Page ******************/
#work-page a {
    display: flex;
    justify-content: center;
    width: 60%;
}
#work-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50vh;
    min-height: 100vh;
}

.work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8vh;
    width: 70%;
    height: fit-content;
}

#Portfolio .work-container-title {
    font-size: clamp(0.8rem, 1.3vw, 2rem);
    color:#2B3A5E;
}

.Card {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 2% 0 0;
    width: 100%;
    height: 40vh;
    overflow:hidden;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1) perspective(1200px) rotateX(0deg);
    box-shadow: 0px 0px 0px 0 #838383 ;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

#inprogress-work .Card:nth-of-type(1)::before {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size:inherit;
    background-position: inherit;
    background-color: #000000a2;
    z-index: -1;
    pointer-events: none;
}

.Card:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 50px 0 #838383 ;
}

.Card p {
    color:#cacaca;
}

body.no-scroll {
    overflow: hidden;
  }
  

.Card .card-header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-left: 2.55%;
    height: 10%;
    width: 100%;
}

.Card .card-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 80%;
    
}

.Card .card-content .card-visualizer-container {
    width: 40%;
    height: 100%;
}   


.Card .card-content  .visualizer{
    position: absolute;
    width: 120%;
    height: 110%;
    top:20%;
    left: -50%;
    object-fit:cover;
}

.Card .card-content .card-title-and-description-container  {
    display: flex;
    flex-direction: column;
    gap: 0.8vh;
    max-width: 30%;
    min-width: 30%;
    height: fit-content;
    margin: 7% 6% 0 0;
}

#Portfolio .Card .card-content .card-title-and-description-container .card-title {
    font-size: clamp(0.7rem, 2vw, 2rem);
    font-weight: bold;
    color: white;
}

#inprogress-work {
    margin-top: 25vh;
}

/* WorkPresentation Page */

.work-presentation {
    grid-row: 1;
    display: grid;
    grid-template-rows: auto 2fr;
    grid-template-columns: 1fr;
    width: 100%;
    min-height: 150vh;
    height: auto;
    margin-bottom: auto;
}


.preview-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    gap: 2vh;
    padding: 10vh 0vh 10vh 0vh;
}

#Portfolio .preview-part .preview-part-title {
    width: fit-content;
    height: fit-content;
    font-size: clamp(1rem, 3vw, 3rem);
    font-weight: bold;
}

#Portfolio .preview-part-subtitle {
    width: 80%;
    font-size: clamp(0.5rem, 1.5vw, 1.2rem);
    text-align: center;
}

.preview-part-visualizer-wrapper {
    width: 40%;
    height: 70%;
    margin-top: 2%;
    object-fit: cover;
}

.preview-part-visualizer {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.infos-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    padding: 10vh 0vh 10vh 0vh;
    background-color: #0D2135;
}

.infos-part p, .infos-part a, .summary-text {
    font-size: clamp(0.4rem, 0.65vw, 1.125rem);
}

.infos-part .section-content-container p, .infos-part .section-content-container a,.summary .summary-text {
    color: rgb(139, 139, 139);
}

.infos-part .part-title {
    font-size: clamp(0.6rem, 1vw, 2.5rem);
    font-weight: bold;
    color: white;
}

.infos-part .details .section-title {
    color: white;
}


.details .details-sections-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 70%;
}

.details .details-sections-container .first-row, 
.second-row {
    display: flex;
    justify-content: space-between;
}

.first-row section, 
.second-row section {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 1vh;
}

section .section-content-container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.infos-part .section-content-container a:hover {
    transition: color ease-in-out 0.3s;
    color:white;

}

.summary {
    line-height: clamp(1rem, 2.5vw, 2.5rem);
    text-align: justify;
}

.details, 
.summary {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 60%;
    min-height: 25%;
}

.details-sections-container, 
.summary-text {
    border-top: solid 0.1vw rgba(255, 255, 255, 0.616);
    padding-top: 2vh;
}

.summary-text .highlight-text {
    color: #FFF; 
}


/*** Footer *****/

footer {
    grid-row: 2;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 2rem 1%;
    background-color: #102A43;
    
}
footer p, footer a {
    
    font-size:clamp(0.4rem, 0.65vw, 1.125rem);
}


footer #message {
    width: fit-content;
    font-size: clamp(0.875, 1.125vw,1.375px);
    font-weight: bold;
    color:#D87C55;
}

#sections-container {
    display: flex;
    justify-content: center;
    gap:10%;
    width: 100%;
    height: fit-content;
}

footer section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 1vh;
}

.section-title {
    color: #BCCCDC;
}
footer section .footer-section-link-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 1vh;
}

footer section .footer-section-link-container a{
    color:#FFFFFF;
}

footer section .footer-section-link-container a:hover {
    transition:color ease-in-out 0.3s;
    color:#D87C55; 
}

footer #credits {
    position: absolute;
    align-self: flex-end;
    width: fit-content;
    top:90%;
    color:#FFFFFFB2;
}




/* Téléphones compacts */
@media screen and (max-width: 320px) and (orientation: portrait) {
    /* Styles pour les petits téléphones */
    #Portfolio p, #Portfolio a {
        font-size: clamp(0.2rem, 0.65vw, 0.4rem) !important;
    }

    /******************* About Page ******************/
    #AboutMe-Page .container-title {
        font-size: clamp(0.4rem, 0.65vw, 0.5rem) !important;
    }

    /******** Profil Part **************/
    #AboutMe-Page #profil-part #job {
        font-size: clamp(0.3rem, 0.65vw, 0.4rem) !important;
    }

    #AboutMe-Page #about-me-part .about-me-text-container h4 {
        font-size: clamp(0.4rem, 0.65vw, 0.45rem) 
    }
    /********/

    /*****************/

  }
  

/***************************************** Téléphones standards - grands téléphones *****************************************/
@media screen and (max-width: 480px) and (orientation: portrait) {
   
    /*Header*/
    header {
        height: 10vh;
        
    }

    header #name, header #sections p, header a {
    pointer-events: auto;
}

    header #name{
        font-size:clamp(0.5rem, 0.65vw, 0.7rem);
    }

    header #sections{
        gap: 5vw ;
    }

    header #sections p {
        font-size:clamp(0.4rem, 0.65vw, 1.125rem);
    }


    /******************* About Page ******************/
        #AboutMe-Page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: fit-content;
            gap: 15vh;
            
        }

        #AboutMe-Page .container-title {
            font-size: clamp(0.5rem, 0.65vw, 0.6rem);   
        }

    /******* Profil part ******/

        #profil-part {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10%;
            margin-top: 10vh;
            width: 85%;
            height: 20vh;
            transform: scale(0);
            transform-origin: center;
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;
            opacity: 0;
        }

        #profil-part.show{
            transform: scale(1);
            opacity: 1;
        }

        #profil-part #pp {
            width: 15vw;
            height: 15vw;
            border-radius: 100%;
            object-fit: cover;
        }

        #profil-part #job {
            font-size: clamp(0.5rem, 0.65vw, 1.125rem) !important;
            font-weight: bold;
            color:#003366;
        }

        #profil-part #presentation-text {
            width: 50vw;
            height: fit-content;
            font-size: clamp(0.2rem, 1.64vw, 1.125rem);
            text-align: justify;
            line-height: 15.6px;
            color: #2B3A5E;
        }

        #infos {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2vh;
            width: fit-content;
        }


        #social-media{
            display: flex;
            width: fit-content;
            height: fit-content;
            flex-direction: column;
            justify-content: center;
            gap: 4vh;
            margin: 0 0 0 0;
        }

        #social-media svg {
            cursor:pointer;
            width: 4vw;
            height: 5vw;
        }

    /**** *****/

    /*** AboutMe Part ****/
    #about-me-part {
        min-height: 30vh;
    }
    
    #about-me-part .about-me-text-container h4 {
        font-size: clamp(0.5rem, 0.65vw, 1.125rem);
    }

    #about-me-part #about-me-text {
        row-gap: 6vh;
    }

    /*****/

    /****** Skills Part *******/

    #skills-part #skills-part-content {
        gap: 2vh;  
    }

    #skills-part .skill{
        gap: 1vh;
    }

    #skills-part #skills-line-container .skills-line .skill svg{
        height: 70%;
    }

    .circularbar-title{
        position:unset;
        width: fit-content;
        height: fit-content;
        font-weight: 600;
        margin: 0vh 0 0 0;
    }

    #skills-part > svg path{


    }

    /********/

    /**** Educational and Experience Part ****/

    #education-and-experience-part {
        display: flex;
        flex-direction: column;
        gap: 8vh;
        width: 85%;
        min-height: 50vh;
        padding-bottom: 5vh;
    }
    
    .long-cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:2vh;
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
        background-color:#4D5363; /**869BC7*/
        border-radius: 0.5vh;
        padding:2%;
        opacity: 0;
        transition: opacity 0.7s ease-in-out;
        
    }

    .long-cards .long-cards-header {
        display: flex;
        gap: 2%;
        width: 60%;
        height: 20%;
    }

    .long-cards .long-cards-header .long-cards-title-and-period-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0.3vh;
    }

    .long-cards .long-cards-header .pictures {
        width: 6vw;
        height: 6vw;
        object-fit: cover;
        border-radius: 0.2vh;
        
    }

    .long-cards .long-cards-header .long-cards-title {
        font-weight: bold;
        color: white;
    }



    .long-cards .long-cards-text, .long-cards-period {
        color:#cacaca;

    }

    .long-cards .long-cards-text ul {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        margin-left: 1%;

    }

    #education-container, #experience-container {
        display:flex;
        flex-direction: column;
        gap: 3vh;
    }

    .long-cards > *{
        opacity: 0;
        transition: opacity 0.7s ease-in-out;
    }

    /****/
    /*Work Page*/
    #work-page {
        padding-bottom: 5vh;
    }
    .work-container-title {
        font-size: clamp(1.2rem, 3vw, 3rem);
    }
    .Card {
        width: 70vw;
        height: 20vh;
    }

    .Card .card-header {
        align-items: center;
    }

    .Card .card-header .card-type {
        font-size: clamp(0.3rem, 1vw, 1rem)
    }

    .Card .card-header svg {
        height: 60% !important;
        width: 5%;
        margin-left: 1vw;
    }
    .Card .card-title-and-description-container {
        margin: 10% 6% 0 0 !important;
    }

    .Card .card-content .card-title {
        font-size: clamp(0.8rem, 3vw, 2rem) !important;
    }

    .Card .card-content .card-description {
        font-size: clamp(0.4rem, 1vw, 1rem);
    }

    .Card .card-content .card-visualizer-container {
        width: 50%;
    }
    
    



    #work-page a {
       width: fit-content;
       height: fit-content;
    }


    /* WorkPresentation */

    .work-presentation {
        grid-template-rows: 1fr 1.5fr;
        min-height: 100vh;
        
    }

    .preview-part-visualizer-wrapper{
        width: 60%;
    }

    .infos-part {
        padding:0;
    }

    .details, .summary {
        width: 70%;
    }

    .details .details-sections-container .first-row {
        gap: 8%;
    }
}



/* Téléphones landscape*/
@media screen and (min-width: 660px) and (max-width: 926px) and (orientation: landscape) {
   
    /*Header*/
    header {
        justify-content: space-between;
        
    }

    header #name{
        font-size:clamp(0.5rem, 0.65vw, 0.7rem);
    }

    header #sections{
        gap: 4vw ;
    }

    header #sections p {
        font-size:clamp(0.4rem, 0.65vw, 1.125rem);
    }


    /******************* About Page ******************/
    #AboutMe-Page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
        gap: 25vh;
        
    }

    #AboutMe-Page p {
        font-size: clamp(0.4rem, 1.1vw, 1.125rem) !important;
    }

    .container-title {
        font-size: clamp(0.7rem, 0.65vw, 1.125rem);   
    }

    #about-me-part .about-me-text-container h4 {
        font-size: clamp(0.6rem, 1.2vw, 2rem);
    }

    /******* Profil part ******/

    #profil-part {
        
    }

    #profil-part.show{
        transform: scale(1);
        opacity: 1;
    }

    #profil-part #pp {
        width: 15vw;
        height: 15vw;
        border-radius: 100%;
        object-fit: cover;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    #profil-part #job {
        font-size: clamp(0.6rem, 0.65vw, 1.125rem) !important;
        font-weight: bold;
        color:#003366;
    }

    #profil-part #presentation-text {
        font-size: clamp(0.5rem, 0.65vw, 1.125rem);
        line-height: 15.6px;
    }

    #infos {
        gap: 2vh;
    }


    #social-media{
        gap: 10vh;
        margin: 0;
    }

    #social-media svg {
        cursor:pointer;
        width: 3vw;
        height: 3vw;
    }

    /**** *****/

    /** AboutMe Part ****/
    #about-me-part {
        gap: 10vh;
    }

    /***/

    /****** Skills Part *******/

    #skills-part{
        gap:10vh;
    }


    #skills-part .skill-circle-container {
        height: 10vw;
    }


    #skills-part #skills-line-container .skills-line .skill svg{
        height: 6vw;
    }

    /********/

    /**** Educational and Experience Part ****/
    .long-cards .long-cards-header .pictures {
        width: 4vw;
        height: 4vw;
    }

    /****/

    
    /*Work Page*/
    #work-page {
        padding-bottom: 5vh;
    }
    .work-container-title {
        font-size: clamp(1.2rem, 3vw, 3rem);
    }
    .Card {
        width: 60vw;
        height: 70vh; 
    }

    .Card .card-header {
        align-items: center;
    }

    .Card .card-header .card-type {
        font-size: clamp(0.3rem, 1vw, 1rem)
    }

    .Card .card-header svg {
        height: 60% !important;
        width: 5%;
        margin-left: 1vw;
    }
    .Card .card-title-and-description-container {
        margin: 10% 6% 0 0 !important;
        gap: 2vh !important;
    }

    .Card .card-content .card-title {
        /* font-size: clamp(0.8rem, 3vw, 2rem) !important; */
    }

    .Card .card-content .card-description {
        font-size: clamp(0.4rem, 1vw, 1rem);
    }

    .Card .card-content .card-visualizer-container {
        width: 50%;
    }
    
    

    #work-page a {
       width: fit-content;
       height: fit-content;
    }


    /* WorkPresentation */

    .work-presentation {
        grid-template-rows: 1fr 1.5fr;
        min-height: 100vh;
        
        
    }

    .preview-part-visualizer-wrapper{
        width: 50%;
        height: 80%;
    }

    .infos-part {
        padding:0;
    }

    .first-row section, 
    .second-row section {
        gap: 2vh;
    }

    section .section-content-container {
        gap:3vh;
    }

    .details, .summary {
        width: 70%;
    }

    .details .details-sections-container .first-row {
        gap: 8%;
    }
}

@media screen and (min-width: 667px) and (max-width: 926px) and (orientation: landscape) {
    /********** Education and Experience part ****/
    #experience-container {
        padding-bottom: 5vh;
    }
    
}

/***************************************** Media queries pour les phablettes / tablettes *****************************************/
@media screen and (min-width: 480px) and (max-width: 1124px) and (orientation: portrait) {

    #Portfolio p, #Portfolio a {
        font-size:clamp(0.4rem, 1.1vw, 0.8rem);
    }
    /******************Header************************/
    header {
        justify-content: space-between;
        
    }

    header #name{
        font-size:clamp(0.6rem, 1.3vw, 1.2rem) !important;
    }


    header #sections{
        gap: 3vw;
        margin-right: 5vw;
    }

    header #sections p {
        font-size: clamp(0.5rem, 1.125vw, 1.2rem);
    }


    /******************* About Page ******************/
    #AboutMe-Page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
        gap: 15vh;
        
    }

    .container-title {
        font-size: clamp(0.7rem, 0.65vw, 1.125rem);   
    }

    #about-me-part .about-me-text-container h4 {
        font-size: clamp(0.6rem, 1.2vw, 2rem);
    }

    /******* Profil part ******/

    #profil-part {
        height: 50vh;
        
        
    }

    #profil-part.show{
        transform: scale(1);
        opacity: 1;
    }

    #profil-part #pp {
        width: 15vw;
        height: 15vw;
        border-radius: 100%;
        object-fit: cover;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    #profil-part #job {
        font-size: clamp(0.6rem, 0.65vw, 1.125rem) !important;
        font-weight: bold;
        color:#003366;
    }

    #profil-part #presentation-text {
        font-size: clamp(0.5rem, 1.3vw, 2rem) ;
        line-height: 15.6px;
    }

    #infos {
        gap: 2vh;
    }


    #social-media{
        gap: 5vh;
        margin: 0;
    }

    #social-media svg {
        cursor:pointer;
        width: 3vw;
        height: 3vw;
    }

    /**** *****/

    /** AboutMe Part ****/
    #about-me-part {
        gap: 7vh;
    }

    /***/

    /****** Skills Part *******/

    #skills-part{
        gap:10vh;
    }


    #skills-part .skill-circle-container {
        height: 10vw;
    }


    #skills-part #skills-line-container .skills-line .skill svg{
        height: 6vw;
    }

    /********/

    /**** Educational and Experience Part ****/
    #education-and-experience-part {
        min-height: 60vh;
    }

    .long-cards {
        gap: 2vh;
        border-radius: 0.3vh;
    }


    .long-cards .long-cards-header .pictures {
        width: 4vw;
        height: 4vw;
        border-radius: 0.3vh;
    }

    /****/

    
    /*Work Page*/
    #work-page {
        padding-bottom: 5vh;
    }
    #work-page .work-container-title {
        font-size: clamp(1.2rem, 2vw, 1.5rem);
    }
    .Card {
        width: 60vw;
        height: 32vw; 
    }

    .Card .card-header {
        align-items: center;
    }

    .Card .card-header .card-type {
        font-size: clamp(0.3rem, 1vw, 1rem)
    }

    .Card .card-header svg {
        height: 60% !important;
        width: 5%;
        margin-left: 1vw;
    }
    .Card .card-title-and-description-container {
        margin: 10% 6% 0 0 !important;
        gap: 0.5vh !important;
    }

    .Card .card-content .card-title {
        /* font-size: clamp(0.8rem, 3vw, 2rem) !important; */
    }

    .Card .card-content .card-description {
        font-size: clamp(0.4rem, 1vw, 1rem);
    }

    .Card .card-content .card-visualizer-container {
        width: 50%;
    }
    
    

    #work-page a {
       width: fit-content;
       height: fit-content;
    }


    /* WorkPresentation */

    .work-presentation {
        grid-template-rows: 1fr 1.5fr;
        min-height: 100vh;
        
        
    }

    .preview-part-visualizer-wrapper{
        width: 50%;
        height: 80%;
    }

    .infos-part {
        padding:0;
    }

    .details, .summary {
        width: 70%;
    }

    .details .details-sections-container .first-row {
        gap: 8%;
    }

    
}

@media screen and (min-width: 928px) and (max-width: 1280px) and (orientation: landscape) {
    #Portfolio p, #Portfolio a {
        font-size:clamp(0.4rem, 1.2vw, 0.8rem);
    }
    /******************Header************************/
    header {
        /* justify-content: space-between; */
        
    }

    header #name{
        font-size:clamp(0.6rem, 1.3vw, 1.2rem) !important;
    }

    header #sections{
        gap: 3vw ;
        margin-right: 5%;
    }

    header #sections p {
        font-size: clamp(0.5rem, 1.125vw, 1.2rem);
    }


    /******************* About Page ******************/
    #AboutMe-Page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
        gap: 28vh;
        
    }

    .container-title {
        font-size: clamp(0.7rem, 1.5vw, 1.125rem);   
    }

    #about-me-part .about-me-text-container h4 {
        font-size: clamp(0.6rem, 1.4vw, 2rem);
    }

    /******* Profil part ******/

    #profil-part {
        height: 100vh;
        width: 80%;
         
    }

    #profil-part.show{
        transform: scale(1);
        opacity: 1;
    }

    #profil-part #pp {
        width: 15vw;
        height: 15vw;
        border-radius: 100%;
        object-fit: cover;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    #profil-part #job {
        font-size: clamp(0.6rem, 1.5vw, 1.125rem) !important;
        font-weight: bold;
        color:#003366;
    }

    #profil-part #presentation-text {
        font-size: clamp(0.5rem, 1.7vw, 2rem) !important;
        line-height: 2.4vw;
    }

    #infos {
        gap: 3vh;
    }


    #social-media{
        gap: 10vh;
        margin: 0;
    }

    #social-media svg {
        cursor:pointer;
        width: 3vw;
        height: 3vw;
    }

    /**** *****/

    /** AboutMe Part ****/
    #about-me-part {
        gap: 10vh;
    }

    /***/

    /****** Skills Part *******/

    #skills-part{
        gap:10vh;
    }


    #skills-part .skill-circle-container {
        height: 10vw;
    }


    #skills-part #skills-line-container .skills-line .skill svg{
        height: 6vw;
    }

    /********/

    /**** Educational and Experience Part ****/
    #education-and-experience-part {
        min-height: 85vh;
    }

    .long-cards {
        gap: 2vh;
        border-radius: 0.3vh;
    }


    .long-cards .long-cards-header .pictures {
        width: 4vw;
        height: 4vw;
        border-radius: 0.3vh;
    }

    /****/

    
    /*Work Page*/
    #work-page {
        padding-bottom: 5vh;
    }
    #work-page .work-container-title {
        font-size: clamp(1.2rem, 2vw, 1.5rem);
    }
    .Card {
        width: 60vw;
        height: 32vw; 
    }

    .Card .card-header {
        align-items: center;
    }

    .Card .card-header .card-type {
        font-size: clamp(0.3rem, 1vw, 1rem)
    }

    .Card .card-header svg {
        height: 60% !important;
        width: 5%;
        margin-left: 1vw;
    }
    .Card .card-title-and-description-container {
        margin: 10% 6% 0 0 !important;
        gap: 0.5vh;
    }

    .Card .card-content .card-title {
        /* font-size: clamp(0.8rem, 3vw, 2rem) !important; */
    }

    .Card .card-content .card-description {
        font-size: clamp(0.4rem, 1vw, 1rem);
    }

    .Card .card-content .card-visualizer-container {
        width: 50%;
    }
    
    

    #work-page a {
       width: fit-content;
       height: fit-content;
    }


    /* WorkPresentation */

    .work-presentation {
        grid-template-rows: 1fr 1.5fr;
        min-height: 100vh;
        
        
    }

    .preview-part-visualizer-wrapper{
        width: 50%;
        height: 80%;
    }

    .infos-part {
        padding:0;
    }

    .details, .summary {
        width: 70%;
    }

    .details .details-sections-container .first-row {
        gap: 8%;
    }
  
}

